* {
    padding: 0;
    margin: 0;
}

main {
    padding-top: 5%;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    background: #747f70;
    display: grid;
    grid-template-columns: 10% auto 10%;
    grid-template-areas: "l c r" "b b b";
    grid-template-rows: 85vh 15vh;
    overflow: hidden;
}

.date {
    display: grid;
    justify-content: center;
    text-align: center;
}

.date p {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-family: sans-serif;
    z-index: 999;
    writing-mode: vertical-lr;
}

.date p span {
    padding: 5px 5px;
    font-size: 5px;
}

.Left {
    grid-area: l;
}

.right {
    grid-area: r;
}

.background {
    grid-area: c;
    background-image: url(/Fiona\ Maternity\ Photos\ 1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}


/* top left and right sections */

.boxes {
    position: absolute;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    position: relative;
}

.boxes .leftBox,
.boxes .rightBox {
    width: 30%;
    height: 30%;
    padding: 20px;
    position: relative;
    z-index: 999;
}

.boxes .line {
    width: 50px;
    background-color: white;
    height: 1px;
    position: absolute;
}

.boxes:hover .leftBox .line {
    animation-name: spinningL;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.boxes:hover .rightBox .line {
    animation-name: spinningR;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes spinningL {
    0% {
        transform: rotate(45deg)
    }
    50% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@keyframes spinningR {
    0% {
        transform: rotate(135deg)
    }
    50% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(135deg);
    }
}


/* Left box */

.leftBox .lineR {
    top: 0px;
    right: 15px;
    position: absolute;
    transform: rotate(135deg);
}

.leftBox .lineBr {
    top: 95px;
    right: 15px;
    position: absolute;
    transform: rotate(45deg);
}

.leftBox .lineL {
    top: 0px;
    left: 10px;
    position: absolute;
    transform: rotate(45deg);
}

.leftBox .lineBl {
    top: 95px;
    left: 10px;
    position: absolute;
    transform: rotate(135deg);
}


/* Right box*/

.rightBox .lineR {
    top: 0px;
    right: 15px;
    position: absolute;
    transform: rotate(135deg);
}

.rightBox .lineBr {
    top: 95px;
    right: 15px;
    position: absolute;
    transform: rotate(45deg);
}

.rightBox .lineL {
    top: 0px;
    left: 10px;
    position: absolute;
    transform: rotate(45deg);
}

.rightBox .lineBl {
    top: 95px;
    left: 10px;
    position: absolute;
    transform: rotate(135deg);
}

@keyframes shine {
    0% {
        transform: scale(0.5);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(0.5);
    }
}


/*second image */

.secondImage {
    width: 200px;
    position: relative;
    left: -100px;
    top: -40px;
    background-color: #ff1f20;
    height: 300px;
    background-image: url(/Fiona\ Maternity\ Photos\ 8.jpg);
    background-size: contain;
    background-blend-mode: multiply;
    filter: brightness(150%);
    transition: all 1s ease;
}

.secondImage:hover {
    left: -100px;
    animation-name: inout;
    animation-duration: 3s;
    animation-iteration-count: 1;
    transition: all 1s ease;
}

@keyframes inout {
    from {
        left: -100px
    }
    to {
        left: 0px;
    }
}


/*Title Text bottom*/

.title-text {
    color: white;
    margin: 0 auto;
    position: absolute;
    top: 610px;
    width: 100%;
}

.title-text h1 {
    text-align: center;
    font-size: 7em;
    line-height: 0.8em;
}


/* circle thompson footer */

.circle {
    grid-area: b;
    width: 120px;
    height: 120px;
    border: 1px solid white;
    border-radius: 50%;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    align-content: center;
    margin-top: 5%;
}

.circle p {
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-family: sans-serif;
}

@media only screen and (min-width:650px) {
    main {
        width: 700px;
    }
    body {
        background: cornsilk;
    }
    .title-text {
        color: white;
        margin: 0 auto;
        position: absolute;
        top: 550px;
        width: 100%;
    }
    .title-text h1 {
        text-align: center;
        font-size: 10em;
        line-height: 0.8em;
    }
    .secondImage {
        left: -70px;
    }
}